.movie-view {
  position: relative;
  display: grid;
  max-width: 100vw;
  margin: .5rem auto;
  padding: 2rem;
  row-gap: 1.65em;
}

.movie-card {
  margin-top: 10px;
  width: 30vw;
  justify-self: center;
  justify-content: center;
  padding: 10px;
}

.mat-mdc-card-header {
  padding: 0 .5em .25em;
}

.movie-card > img {
  height: 70%;
}

.mdc-card__actions {
  display: block;
}

@media screen and (min-width: 250px) {
  .movie-view {
    grid-template-columns: 1fr;
  }
  
  .movie-card { width: 80vw; }
}

@media screen and (min-width: 500px) {
  .movie-view {
    grid-template-columns: 1fr 1fr;
  }
  
  .movie-card { width: 45vw; }
}

@media screen and (min-width: 750px) {
  .movie-view {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .movie-card { width: 30vw; }
}

@media screen and (min-width: 1000px) {
  .movie-view {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .movie-card { width: 20vw; }
}